.btn-add {
  border: none;
}

.count-box {
  display: inline-block;
}

.rating {
  padding: 0px !important;
}

.rating span {
  font-size: 1rem;
  flex-grow: 0 !important;
}

.btn-decrement {
  border: 1px solid black;
  background: transparent;
  margin: 5px;
}

.btn-increment {
  border: 1px solid black;
  background: transparent;
  margin: 5px;
}

.btn-delete {
  border: 1px solid black;
  background: transparent;
  margin: 5px;
}

@media only screen and (max-width: 767px) {
  .mt {
    margin-top: 10px;
  }
}
